main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  h1 {
    margin-bottom: 1rem;
  }

  .page-description-text {
    margin-bottom: 2rem;
  }

  .semester-filter {
    align-self: center;
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
    input {
      display: none;
    }
    li {
      font-weight: 700;
      padding: 1rem;
      color: $blueDark;
      border: 2px solid $blueDark;
      &:first-child {
        border-radius: 0.4rem 0.4rem 0 0;
      }
      &:last-child {
        border-radius: 0 0 0.4rem 0.4rem;
      }
    }
    .active {
      color: #fff;
      background: $blueDark;
    }
  }
}
