footer {
  background: $blueLight;
  padding-bottom: 2rem;
  color: $greyBg;
  margin-top: 5rem;
  font-weight: 700;

  .footer-top-info {
    display: flex;
    flex-direction: column;
    .footer-icon {
      fill: $greyBg;
      width: 2.2rem;
    }
    @media (min-width: $breakpoint) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer-top-larger {
    padding: 1.5rem 2rem;
    width: 100%;
    background: $blueDark;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-top-larger-text {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
    }
    @media (min-width: $breakpoint) {
      width: 25%;
    }
  }

  .footer-top-text-bottom {
    font-weight: 500;
  }

  .footer-top-small-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .footer-top-small-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      padding: 1rem 2rem;
      margin: 0.2rem;
      background: $blueDark;
      &:first-child,
      &:last-child {
        margin: 0.2rem 0;
        @media (min-width: $breakpoint) {
          margin: 0;
        }
      }
      .footer-icon {
        margin-bottom: 0.5rem;
      }
      .footer-top-small-item-text {
        @media (min-width: $breakpoint) {
          margin-left: 1rem;
        }
      }
      @media (min-width: $breakpoint) {
        width: 25%;
        margin: 0;
        flex-direction: row;
      }
    }
    @media (min-width: $breakpoint) {
      width: 75%;
    }
  }

  .footer-copyright {
    padding: 3rem 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .heart-icon {
      margin: 0 0.5rem;
      fill: $greyBg;
      width: 1rem;
      align-self: flex-end;
    }
  }
}
