@import "./variables";
@import "./addCourse";
@import "./favoriteScholarships";
@import "./modalAddFavorites";
@import "./modalResult";
@import "./userFavorite";
@import "./header";
@import "./footer";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: $greyBg;
  font-family: "Montserrat", sans-serif;
}

.desktop-content {
  display: none !important;
}
