.add-favorite-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  width: 100%;
  -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
  padding: 2rem 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.add-favorite-card .add-favorite-icon {
  fill: #18acc4;
  border: 3px solid #18acc4;
  padding: 1rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.add-favorite-card h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

.add-favorite-card p {
  line-height: 1.5;
  font-size: 0.9rem;
}

@media (min-width: 992px) {
  .add-favorite-card {
    height: 35rem;
    width: 380px;
    margin: 1rem;
  }
}

main {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  main {
    padding: 1rem 5%;
  }
}

main h1 {
  margin-bottom: 1rem;
}

main .page-description-text {
  margin-bottom: 2rem;
}

main .semester-filter {
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .semester-filter input {
  display: none;
}

main .semester-filter li {
  cursor: pointer;
  font-weight: 700;
  color: #007a8d;
  border: 2px solid #007a8d;
}

main .semester-filter li label {
  cursor: pointer;
}

main .semester-filter li:first-child {
  border-radius: 0.4rem 0.4rem 0 0;
}

@media (min-width: 992px) {
  main .semester-filter li:first-child {
    border-radius: 0.4rem 0 0 0.4rem;
  }
}

main .semester-filter li:last-child {
  border-radius: 0 0 0.4rem 0.4rem;
}

@media (min-width: 992px) {
  main .semester-filter li:last-child {
    border-radius: 0 0.4rem 0.4rem 0;
  }
}

main .semester-filter label {
  display: block;
  padding: 1rem;
}

@media (min-width: 992px) {
  main .semester-filter label {
    padding: 0.5rem 1.5rem;
  }
}

main .semester-filter .active {
  color: #fff;
  background: #007a8d;
}

@media (min-width: 992px) {
  main .semester-filter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

main .favorite-page-main-content, main .teste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#add-card-solo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn ease 0.3s;
          animation: fadeIn ease 0.3s;
}

.modal .modal-container {
  z-index: 9999 !important;
  background: #fbfbfb;
  position: absolute;
  width: 100%;
  top: 5rem;
  bottom: 0;
  overflow-y: auto;
  padding: 1.5rem;
  -webkit-animation: modalContainerIn 0.3s;
          animation: modalContainerIn 0.3s;
}

.modal .modal-container header {
  color: #1f2d30;
}

.modal .modal-container header h2 {
  margin-bottom: 0.5rem;
}

.modal .modal-container header p {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.modal .modal-container .modal-filters-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-container .modal-filters-container .modal-filter {
  margin-bottom: 1.5rem;
}

.modal .modal-container .modal-filters-container .modal-filter label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}

.modal .modal-container .modal-filters-container .modal-filter input:focus ~ ul {
  visibility: visible;
  height: auto;
  opacity: 1;
}

.modal .modal-container .modal-filters-container .modal-filter ul {
  visibility: hidden;
  height: 1px;
  opacity: 0;
  -webkit-transition: 1s visibility;
  transition: 1s visibility;
}

.modal .modal-container .modal-filters-container .modal-filter .city-suggestion-list {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.12);
}

.modal .modal-container .modal-filters-container .modal-filter .city-suggestion-list li {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.modal .modal-container .modal-filters-container .modal-filter .city-suggestion-list li:hover {
  background: #18acc4;
  color: #fbfbfb;
  font-weight: 700;
}

.modal .modal-container .modal-filters-container .modal-filter #city-input,
.modal .modal-container .modal-filters-container .modal-filter #course-select {
  margin-top: 0.2rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(204, 204, 204, 0.8);
  padding: 1rem 0.5rem;
  width: 100%;
  background: none;
  font-size: 1.1rem;
}

.modal .modal-container .modal-filters-container .modal-filter #course-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal .modal-container .modal-filters-container .modal-filter .custom-select {
  position: relative;
}

.modal .modal-container .modal-filters-container .modal-filter .custom-select::before {
  content: "";
  z-index: -1;
  width: 0.5rem;
  height: 0.5rem;
  border: solid #cccccc;
  border-width: 0 0 2px 2px;
  position: absolute;
  top: 50%;
  right: 1rem;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.modal .modal-container .modal-filters-container .modal-filter .course-kind-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 1.5rem 0;
}

.modal .modal-container .modal-filters-container .modal-filter .course-kind-container .course-kind-option {
  cursor: pointer;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  text-transform: none;
  font-size: 1rem;
  position: relative;
}

.modal .modal-container .modal-filters-container .modal-filter .course-kind-container .course-kind-option .custom-checkbox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 0.15rem;
  background-color: rgba(204, 204, 204, 0.8);
  margin-right: 0.5rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.modal .modal-container .modal-filters-container .modal-filter .course-kind-container .course-kind-option input {
  display: none;
}

.modal .modal-container .modal-filters-container .modal-filter .course-kind-container .course-kind-option input:checked ~ .custom-checkbox {
  background: #18acc4;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.modal .modal-container .modal-filters-container .modal-filter .course-kind-container .course-kind-option input:checked ~ .custom-checkbox:before {
  display: inline-block;
  position: absolute;
  top: 25%;
  left: 20%;
  content: "";
  width: 50%;
  height: 25%;
  border: solid white;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (min-width: 992px) {
  .modal .modal-container .modal-filters-container .modal-filter {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .modal .modal-container .modal-filters-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0;
    padding: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    width: 100%;
  }
}

.modal .modal-container .modal-filters-container #price-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-container .modal-filters-container #price-filter label {
  margin-bottom: 0.5rem;
}

.modal .modal-container .modal-filters-container #price-filter span {
  margin-bottom: 1rem;
}

.modal .modal-container .modal-filters-container #price-filter input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 0.2rem;
  background: #18acc4;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
}

.modal .modal-container .modal-filters-container #price-filter input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border: 2px solid #18acc4;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 28px;
  background: #fbfbfb;
  cursor: pointer;
  margin-top: 3.1px;
}

.modal .modal-container .modal-results {
  position: relative;
  min-height: 5rem;
}

.modal .modal-container .modal-results-container .modal-results-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
}

.modal .modal-container .modal-results-container .modal-results-header .modal-results-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-container .modal-results-container .modal-results-header .custom-select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.modal .modal-container .modal-results-container .modal-results-header .custom-select #order-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #007a8d;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 0.5rem;
  direction: rtl;
  padding: 0.5rem;
}

.modal .modal-container .modal-results-container .modal-results-header .custom-select #order-by:active {
  direction: ltr;
}

.modal .modal-container .modal-results-container .modal-results-header .custom-select:after {
  display: inline-block;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border: solid #007a8d;
  border-width: 0 0 2px 2px;
  margin-right: 0.3rem;
  -webkit-transform: rotate(-45deg) translateY(25%);
          transform: rotate(-45deg) translateY(25%);
}

.modal .modal-container .modal-btns {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal-container .modal-btns .modal-cancel-btn {
  font-size: 1.05rem;
  font-weight: 700;
  padding: 0.75rem;
  color: #007a8d;
  background: none;
  border: 1px solid #007a8d;
  border-radius: 0.4rem;
}

.modal .modal-container .modal-btns .modal-add-btn {
  font-size: 1.05rem;
  font-weight: 700;
  padding: 0.75rem;
  color: #1f2d30;
  background: #fdcb13;
  border: 1px solid #de9e1f;
  border-radius: 0.4rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.modal .modal-container .modal-btns .modal-add-btn:disabled {
  background: rgba(204, 204, 204, 0.8);
  border: 1px solid #cccccc;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: default;
}

@media (min-width: 992px) {
  .modal .modal-container .modal-btns {
    width: 50%;
    margin-left: auto;
  }
}

@media (min-width: 992px) {
  .modal .modal-container {
    width: 65%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 80%;
    padding: 2rem;
  }
}

.modal .modal-bg-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(31, 45, 48, 0.8);
}

.modal .modal-close-btn {
  cursor: pointer;
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 2;
}

.modal .modal-close-btn::before, .modal .modal-close-btn::after {
  content: "";
  height: 1.9rem;
  display: inline-block;
  width: 0.2rem;
  background: #fbfbfb;
}

.modal .modal-close-btn::before {
  -webkit-transform: rotate(45deg) translateX(50%);
          transform: rotate(45deg) translateX(50%);
}

.modal .modal-close-btn::after {
  -webkit-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
}

@media (min-width: 992px) {
  .modal .modal-close-btn {
    right: 18%;
  }
}

.modal-api-loading {
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 10px solid #ccc;
  border-top-color: #18acc4;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  -webkit-animation: load 0.3s linear infinite;
          animation: load 0.3s linear infinite;
}

@-webkit-keyframes load {
  to {
    -webkit-transform: translate(-50%, -70%) rotate(360deg);
            transform: translate(-50%, -70%) rotate(360deg);
  }
}

@keyframes load {
  to {
    -webkit-transform: translate(-50%, -70%) rotate(360deg);
            transform: translate(-50%, -70%) rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  @-webkit-keyframes modalContainerIn {
    0% {
      -webkit-transform: scale(0) translateX(-50%);
              transform: scale(0) translateX(-50%);
      -webkit-transform-origin: -10% 50%;
              transform-origin: -10% 50%;
    }
    100% {
      -webkit-transform: scale(1) translateX(-50%);
              transform: scale(1) translateX(-50%);
      -webkit-transform-origin: -10% 50%;
              transform-origin: -10% 50%;
    }
  }
  @keyframes modalContainerIn {
    0% {
      -webkit-transform: scale(0) translateX(-50%);
              transform: scale(0) translateX(-50%);
      -webkit-transform-origin: -10% 50%;
              transform-origin: -10% 50%;
    }
    100% {
      -webkit-transform: scale(1) translateX(-50%);
              transform: scale(1) translateX(-50%);
      -webkit-transform-origin: -10% 50%;
              transform-origin: -10% 50%;
    }
  }
}

@media (max-width: 992px) {
  @-webkit-keyframes modalContainerIn {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes modalContainerIn {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}

.modal-course-list-item {
  border-top: 1px solid rgba(204, 204, 204, 0.8);
  border-bottom: 1px solid rgba(204, 204, 204, 0.8);
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-course-list-item input {
  display: none;
}

.modal-course-list-item input:checked ~ .custom-checkbox {
  background: #18acc4;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: 1px solid #fbfbfb;
}

.modal-course-list-item input:checked ~ .custom-checkbox:before {
  display: inline-block;
  position: absolute;
  top: 22%;
  left: 20%;
  content: "";
  width: 50%;
  height: 25%;
  border: solid white;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-course-list-item .custom-checkbox {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 0.15rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  border: 1px solid #1f2d30;
}

.modal-course-list-item .image-container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 2rem;
}

.modal-course-list-item img {
  width: 4rem;
}

.modal-course-list-item .modal-course-info {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-course-list-item .modal-course-info .modal-course-name {
  color: #007a8d;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.modal-course-list-item .modal-course-info .modal-course-level {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.modal-course-list-item .modal-course-info .gree-text {
  font-weight: 700;
  color: #0FA866;
  margin-top: 0.5rem;
}

@media (min-width: 992px) {
  .modal-course-list-item .modal-course-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.favorite-card {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 100%;
}

.favorite-card .favorite-university-logo-container {
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorite-card .favorite-university-logo-container img {
  height: 5rem;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-bottom: 1rem;
}

.favorite-card .upper-bold {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 700;
}

.favorite-card h6 {
  color: #007a8d;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.favorite-card .rating-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favorite-card .rating-container .rating-text {
  font-weight: 700;
}

.favorite-card .rating-container .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.5rem;
}

.favorite-card .rating-container .stars .filled-star,
.favorite-card .rating-container .stars .half-star,
.favorite-card .rating-container .stars .empty-star {
  fill: #fdcb13;
  margin: 0 0.15rem;
  height: 1rem;
  width: 1rem;
}

.favorite-card .favorite-card-course-info-center {
  margin: 1.5rem 0;
  padding: 1.5rem 0;
  border-top: 2px solid rgba(204, 204, 204, 0.8);
  border-bottom: 2px solid rgba(204, 204, 204, 0.8);
}

.favorite-card .favorite-card-course-info-center .favorite-start-date {
  font-size: 0.8rem;
}

.favorite-card .favorite-price-title {
  font-weight: 700;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.favorite-card .favorite-full-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-bottom: 0.3rem;
}

.favorite-card .favorite-discounted-price {
  font-size: 0.8rem;
}

.favorite-card .favorite-discounted-price .green-bold {
  color: #0FA866;
  font-weight: 700;
  font-size: 1.1rem;
}

.favorite-card .favorite-card-bottom-info {
  height: 5rem;
}

.favorite-card .favorite-card-bottom-info .favorite-unavailable-text {
  font-size: 0.7rem;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .favorite-card .favorite-card-bottom-info .favorite-unavailable-text {
    width: 80%;
  }
}

.favorite-card .favorite-card-buttons {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 992px) {
  .favorite-card {
    width: 380px;
    height: 35rem;
    margin: 1rem;
  }
}

.modal-cancel-btn {
  font-size: 1.05rem;
  font-weight: 700;
  padding: 1rem;
  color: #007a8d;
  background: none;
  border: 1px solid #007a8d;
  border-radius: 0.4rem;
  width: 40%;
}

.modal-add-btn {
  font-size: 1.05rem;
  font-weight: 700;
  padding: 1rem;
  color: #1f2d30;
  background: #fdcb13;
  border: 1px solid #de9e1f;
  border-radius: 0.4rem;
  width: 55%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.modal-add-btn:disabled {
  background: rgba(204, 204, 204, 0.8);
  border: 1px solid #cccccc;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header {
  color: #007a8d;
  font-weight: 700;
}

header .header-top-info {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 1rem 0;
  height: 5rem;
}

@media (min-width: 992px) {
  header .header-top-info {
    padding: 2.5rem 5%;
  }
}

header .logo-header {
  max-height: 4rem;
  padding: 0.2rem 1rem;
  width: 100%;
}

header .header-top-info-left,
header .header-top-info-center,
header .header-top-info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-top-info-right {
  width: 33%;
}

@media (min-width: 992px) {
  header .header-top-info-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header .header-top-info-left {
  width: 33%;
}

@media (min-width: 992px) {
  header .header-top-info-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header .header-top-info-center {
  border-left: 3px solid #e1e1e1;
  border-right: 3px solid #e1e1e1;
  width: 33%;
}

@media (min-width: 992px) {
  header .header-top-info-center {
    border: none;
  }
}

header .icon-container {
  margin-bottom: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 1rem;
  width: auto;
}

header .icon-container .icon {
  fill: #007a8d;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 2rem;
  margin-bottom: 0.3rem;
  padding: 0;
}

@media (min-width: 992px) {
  header .icon-container .icon {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

header .icon-container .icon-text {
  text-align: left;
  margin: 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .icon-container .header-text-whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .icon-container .header-text-whatsapp .icon-text-bottom-info {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

header .icon-container .whatsapp-header-icon {
  fill: #0FA866;
}

@media (min-width: 992px) {
  header .icon-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  header .header-top-info-right .icon-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

header .header-separator {
  width: 3px;
  height: 4rem;
  background: #ccc;
}

header .nav-main-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #18acc4;
  color: #fff;
  padding: 0 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  -webkit-box-shadow: inset 0px 10px 5px -6px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 10px 5px -6px rgba(0, 0, 0, 0.1);
}

header .nav-main-ul .menu-title {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-main-ul .menu-title .menu-chevron {
  margin-left: 0.5rem;
  fill: #fff;
  width: 0.7rem;
}

header .nav-main-ul .dropdown-navbar {
  font-size: 0.95rem;
}

header .nav-main-ul .dropdown-navbar li {
  margin-left: 3rem;
  height: 2.5rem;
}

header .nav-main-ul .dropdown-navbar li .nav-item-active {
  padding: 0 1rem;
  display: inline-block;
  background: #007a8d;
}

@media (min-width: 992px) {
  header .nav-main-ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 5%;
  }
}

header .navbar-closed li {
  height: 0;
  opacity: 0;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  text-align: center;
}

header .navbar-opened {
  margin-bottom: 2rem;
}

header .navbar-opened li {
  opacity: 1;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  height: 100%;
  padding: 1rem 0.5rem;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #ccc;
}

header .navbar-opened li a {
  width: 100%;
  display: block;
}

header .navbar-opened li:hover {
  background: #007a8d;
  color: #fbfbfb;
  font-weight: 700;
}

header .navbar-opened .nav-item-active {
  background: #007a8d;
  color: #fbfbfb;
  font-weight: 700;
}

header .breadcrumb-container {
  padding: 1rem;
  font-size: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .breadcrumb-container .breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

header .breadcrumb-container .breadcrumb-item .breadcrumb-chevron {
  fill: #007a8d;
  margin-right: 0.5rem;
  width: 0.6rem;
}

header .breadcrumb-container .breadcrumb-active {
  color: #1f2d30;
  font-weight: 400;
}

header .breadcrumb-container .breadcrum-separator {
  color: #1f2d30;
  font-weight: 400;
  margin-right: 1rem;
}

@media (min-width: 992px) {
  header .breadcrumb-container {
    padding: 1rem 5%;
  }
}

footer {
  background: #18acc4;
  padding-bottom: 2rem;
  color: #fbfbfb;
  margin-top: 5rem;
  font-weight: 700;
}

footer .footer-top-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-top-info .footer-icon {
  fill: #fbfbfb;
  width: 2.2rem;
}

@media (min-width: 992px) {
  footer .footer-top-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .footer-top-larger {
  padding: 1.5rem 2rem;
  width: 100%;
  background: #007a8d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top-larger .footer-top-larger-text {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 992px) {
  footer .footer-top-larger {
    width: 25%;
  }
}

footer .footer-top-text-bottom {
  font-weight: 500;
}

footer .footer-top-small-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .footer-top-small-container .footer-top-small-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 2rem;
  margin: 0.2rem;
  background: #007a8d;
}

footer .footer-top-small-container .footer-top-small-item:first-child, footer .footer-top-small-container .footer-top-small-item:last-child {
  margin: 0.2rem 0;
}

@media (min-width: 992px) {
  footer .footer-top-small-container .footer-top-small-item:first-child, footer .footer-top-small-container .footer-top-small-item:last-child {
    margin: 0;
  }
}

footer .footer-top-small-container .footer-top-small-item .footer-icon {
  margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
  footer .footer-top-small-container .footer-top-small-item .footer-top-small-item-text {
    margin-left: 1rem;
  }
}

@media (min-width: 992px) {
  footer .footer-top-small-container .footer-top-small-item {
    width: 25%;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 992px) {
  footer .footer-top-small-container {
    width: 75%;
  }
}

footer .footer-copyright {
  padding: 3rem 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-copyright .heart-icon {
  margin: 0 0.5rem;
  fill: #fbfbfb;
  width: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fbfbfb;
  font-family: "Montserrat", sans-serif;
  color: #1f2d30;
}

a {
  color: inherit;
  text-decoration: none;
}

button, a, input[type='checkbox'], label {
  cursor: pointer;
}

li {
  list-style: none;
}

.desktop-content {
  display: none !important;
}

@media (min-width: 992px) {
  .desktop-content {
    display: inherit !important;
  }
}

@media (min-width: 992px) {
  .mobile-content {
    display: none !important;
  }
}
/*# sourceMappingURL=App.css.map */